<% content_for(:title, "Shop | Strolls") %>

<h1><%= @shop.name %></h1>

  <% if @shop.offers.any? %>
    <h4>Here are the offers for this shop:</h4>

    <ul>
      <% @shop.offers.each do |offer| %>
        <li>
          <%= offer.name %> |
          estimate savings: <%= offer.savings %> |
          valid until: <%= offer.validity %>
          <%= link_to "Edit", edit_shop_offer_path(@shop, offer) %> |
          <%= link_to "Delete", shop_offer_path(@shop, offer),
            :data => {:confirm => "Are you sure?",
            :method => "delete"} %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no offers yet!</p>
  <% end %>

  <p><%= link_to "Add an offer", new_shop_offer_path(@shop) %></p>
  <p><%= link_to "Delete Shop", shop_path(@shop),
            :data => {:confirm => "Are you sure?",
            :method => "delete"} %></p>

  <p><%= link_to "Return to shops", shops_path %></p>
