<%= render('layouts/errors', :object => @offer) %>

  <%= form_for [@shop, @offer] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :savings %>
    <%= f.number_field :savings %>
    <%= f.label :validity %>
    <%= f.date_field :validity %>
    <p><%= f.submit %></p>
  <% end %>
