<div class="container">

  <%= render('layouts/errors', :object => @offer) %>

    <%= form_for [@shop, @offer] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :savings %>
      <%= f.number_field :savings, class: 'form-control' %>

      <%= f.label :validity %>
      <%= f.date_field :validity, class: 'form-control' %>

      <p><%= f.submit 'Launch this offer on Strolls', class: 'btn btn-lg btn-primary btn-block'%></p>
    <% end %>
</div>
