<h1>New Offer</h1>

<% if @offer.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
    <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<%= form_for @offer do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :savings %>
  <%= f.number_field :savings %>
  <%= f.label :validity %>
  <%= f.date_field :validity %>
  <%= f.submit  %>
<% end %>

<%=  link_to "Return to Offers", offers_path %>
