<h1>New Offer</h1>

<%= form_for @offer do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :savings %>
  <%= f.number_field :savings %>
  <%= f.label :validity %>
  <%= f.date_field :validity %>
<% end %>
